@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@500&display=swap');
*{
    font-family: 'Alumni Sans', sans-serif;
    
}
*:focus{
    outline:0px none transparent;
}
body{
    font-size: 1.5rem;
}
#btNewStrat{
    padding: 15px 30px;
    cursor: pointer;
    margin: 10px 0;
    font-size: 2rem;
}
#listeStrats{
    
}
#listeStrats .dStrat{
    margin-bottom: 20px;
}
#listeStrats .dStrat .contenu{
    
}
#listeStrats .dStrat .contenu h1{
    font-size: 2rem;
    margin: 10px 0 0 0;
    padding: 0;
    border-top: 1px solid #000;
}
#listeStrats .dStrat .contenu h2{
    font-size: 1rem;
    margin: 5px 0 0 8%;
}
#listeStrats .dStrat .contenu .oblige{
    background-color: #efe;
}
#listeStrats .dStrat .contenu .situation{
    background-color: #eef;
}
#listeStrats .dStrat .contenu .sTitre{
    display: inline-block;
    width: 120px;
    overflow: hidden;
}
#listeStrats .dStrat .contenu .uHero{
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    border: 1px solid #000;
    text-align: center;
}
#listeStrats .dStrat .contenu .uHero img{
    width: 100px;
    margin: 0;
}
#listeStrats .dStrat .contenu .uHero .nom{
    border-top: 1px solid #000;
    display: block;
    font-size: 1rem;
}
#listeStrats .dStrat .indic{
    margin: 0 10px;
    display: inline-block;
    color: #aaa;
}
#listeStrats .dStrat .bandeau{
    cursor: pointer;
    background-color: #000;
}
#listeStrats .dStrat .titre{
    color: #aaa;
    padding: 10px;
    display: inline-block;
}
#listeStrats .dStrat .desc{
    padding: 10px;
    background-color: #ddd;
}
#listeStrats .dStrat .contenu{
    
}
#vueStrat{
    display: none;
}
#newStrat{
    
}
.newStrat .titre .nsTitre{
    background: none;
    color: #fff;
    border: none;
    border-left: 2px solid #fff;
    padding-left: 5px;
    font-size: 1.5rem;
    width: 1300px;
}
.newStrat .desc .nsDesc{
    background: none;
    border-left: 2px solid #000;
    padding-left: 5px;
    margin: 0;
}
.newStrat .nsp{
}
.newStrat .nsp .tableau{
    font-size: 0;
    margin-top: 5px;
}
.newStrat .nsp .tableau img{
    width: 60px;
    margin: 0;
    border: 3px solid #000;
    cursor: pointer;
}
.newStrat .nsp .tableau .oblige{
    border: 3px solid #afa;
}
.newStrat .nsp .tableau .optionel{
    border: 3px solid #aaf;
}
.newStrat .nsp .resume{
    font-size: 1.5rem;
    margin-top: 5px;
}
.newStrat .contenu p{
    margin: 0;
    font-size: 1rem;
}
.newStrat textarea{
    width: 100%;
    background-color: #fff;
    border: none;
    font-size: 1.5rem;
    font-family: 'Alumni Sans', sans-serif;
}
.validStrat{
    margin: 20px 0;
    padding: 20px 100px;
    font-size: 3rem;
    font-family: 'Alumni Sans', sans-serif;
}
noscript{
    font-size: 4rem;
    color: #821;
}
.hidden{
    display: none;
}