@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@500&display=swap');
body{
    font-family: 'Alumni Sans', sans-serif;
}
a{
    font-size: 1.5rem;
    display: block;
    color: #444;
    padding: 10px 5%;
    background-color: #eee;
}
a:visited{
    color: #444;
}
.erreur{
    color: #831;
}